<!DOCTYPE html>
<html>
  <meta charset="utf-8">
  <meta name = "description" content = "This is Team 115 MVRT's Web Application">
  <meta name = "viewport", content = "width=device-width, initial-scale=1.0"
  <header>
    <h1>Welcome!</h1>
  </header>
  <body>
      <p>Please choose from one of the Menu options</p>
      <div class = "menu">
        <a href = "/inventory">
          <button type = "submit" name = "Inventory">Inventory</button>
        </a>
        <a href = "/transactions">
          <button type = "submit" name = "Transactions">Make a Transaction</button>
        </a>
        <a href = "/your-transaction-log">
          <button type = "submit" name = "Transaction Log">Transaction Log</button>
        </a>
        <a href = "/tool-checkout">
          <button type = "submit" name = "Log">Tool Checkout</button>
        </a>
        </a>
        <a href = "/logout">
          <button type = "submit" name = "Logout">Logout</button>
        </a>
      </form>
      </div>
    </header>
  </body>
</html>
