<!DOCTYPE html>
<html>
  <meta charset="utf-8">
  <meta name = "description" content = "This is Team 115 MVRT's Web Application">
  <meta name = "viewport", content = "width=device-width, initial-scale=1.0"
  <header>
    <h1>MVRT Inventory App</h1>
  </header>
  <body>
    <header>
      {% with messages = get_flashed_messages() %}
          {% for message in messages %}
            <p> {{message}} </p>
          {% endfor %}
      {% endwith %}
      <p>Please log in</p>
      <form action = "authentication" method = "POST">
        <label for = "username">Username</label>
        <input type = "text" name = "username">
        <br>
        <label for = "pwd">Password</label>
        <input type = "text" name = "pwd">
        <br>
        <input type = "submit" value ="Submit">
      </form>
    </header>
  </body>
</html>
